[Unit]
Description=R.O.B. Vision Gyromite virtual Controller 2
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/rob-vision/tools/retropie_controller2.py --url http://arduiain.local --token-file /home/pi/.config/rob-vision/token
Restart=always
RestartSec=2
User=root
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/dev/uinput

[Install]
WantedBy=multi-user.target
